/*for general aplication*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans:ital,wght@0,300;1,300&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #525252;
    color: #00303b;    
    line-height: 1.5;
}

main {
  position: relative;
}

div#container{
  background-color: #8fb013;
  padding : 10px;
  border : solid 20px gray;
  border-radius: 25px;
  border-bottom-right-radius: 60px;

}

/* NAV BAR */
#nav-bar {
    display: flex;
    list-style: none;
    padding-left: 0;
    background-color: #00303b;
    color: #8fb013;
    margin: 0;
    height: 60px;
    justify-content: space-around;
}

#nav-bar > li {
    padding: auto 30px;
    margin: auto 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#nav-bar > li:active {
    top: 2px;
}

#nav-bar > li > a {
    color: #8fb013;
    text-decoration: none;
  
}



/* LANDING SCREEN */
#landing-screen > h2 {
    text-align: center;
    font-size: 1.7em;
}

#landing-screen > p {
    text-align: center;
    margin: auto;
    font-size: 1.1em;
}

/* boton pixelado */
.pixel2 {
    font-size: 0.9em;
    color: #8fb013;
    height: auto;
    margin: 40px auto;
    border: none;
    font-family: 'Press Start 2P';

    
    position: relative;
    display: block;
     
    cursor: pointer;
    
    padding: 10px 10px;
    background: #00303b;
    width: auto;

    z-index: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .pixel2:active {
      top: 2px;
  }
  
  .pixel2::before {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: -10px;
      right: -10px;
      background: #00303b;
      z-index: -1;
  }
  
  .pixel2::after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: -6px;
      right: -6px;
      background: #00303b;
      z-index: -1;
  }


/* PREGUNTAS */
.contenedor-pregunta{
  height: auto;

  margin: 30px auto;

  border: none;

  font-size: 1.3em;
  text-align: center;
}

.contenedor-pregunta label {
  color: #8fb013;
  height: auto;
  margin: 40px auto;
  border: none;
  font-family: 'Press Start 2P';
  font-size: 0.8em;
  text-align: center;

  
  position: relative;
  display: block;
    
  cursor: pointer;
  
  padding: 20px 10px;
  background: #00303b;
  width: auto;

  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
.contenedor-pregunta label:active {
  top: 2px;
}
  
.contenedor-pregunta label::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: #00303b;
  z-index: -1;
}
  
.contenedor-pregunta label::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: #00303b;
  z-index: -1;
}


/* Ventana de registro/login */
#login-popup {
  background-color: #8fb013;
  border:#00303b solid 3px;

  width: 80%;

  position: absolute;
  top: 2px;
  left: 10%;

  z-index: 10;
}

#register-form, #login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  background-color: #8fb013;
  color: #00303b;

  border: #00303b 3px solid;

  height: 25px;
  width: 80%;
}

.login-input:focus {
  background-color: #b2dd16;

  border: #036075;
}

.msgerr, .msgerr-pass {
  text-align: center;
  font-size: 0.8em;
  display: none;
}


/* PANTALLA DE PUNTUACIÓN */

#results-screen {
  background-color: #8fb013;
  border: #00303b 3px solid;

  width: 80%;

  position: absolute;
  top: 2px;
  left: 10%;

  z-index: 10;

  text-align: center;
  font-size: 2em;
}

.btn-resultados {
  font-size: 1rem;
}